<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 India stats</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="indiaStyle.css"> 
  
  <!--Script-->
  <script src='tablesort.min.js'></script>
    <!--  Sort types  -->
    <script src='tablesort.number.min.js'></script>
   <link rel="shortcut icon" href="/covid.png" type="image/x-icon"> 

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>   <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101866603-5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-101866603-5');
        </script>

</head>
<body>

    <div class="content container-fluid">

      <%- include ('./navbar/nav') %>

      <h1>Stats and details for India</h1>

          <div class="row">
            <div class="col col-sm-4 col-md-4">
                <div class="card gradient-color " style="width:auto; height: max-content;">
                    <div class="card-body">
                      <h3 class="card-title">Cases</h3>
                      <h1 class="card-text"><%= indiaData.statewise[0].confirmed %></h1>
                      <h6 class="card-text">↑ <%= indiaData.statewise[0].deltaconfirmed %></h6>
                    </div>
                  </div>
            </div>
            <div class="col col-sm-4 col-md-4">
                <div class="card gradient-color " style="width:auto; height: max-content;">
                    <div class="card-body">
                      <h3 class="card-title">Deaths</h3>
                      <h1 class="card-text"><%= indiaData.statewise[0].deaths %></h1>
                      <h6 class="card-text">↑ <%= indiaData.statewise[0].deltadeaths %></h6>
                    </div>
                  </div>
            </div>
            <div class="col col-sm-4 col-md-4 ">
                <div class="card gradient-color " style="width:auto; height: max-content;">
                    <div class="card-body">
                      <h3 class="card-title">Recovered</h3>
                      <h1 class="card-text"><%= indiaData.statewise[0].recovered %></h1>
                      <h6 class="card-text">↑ <%= indiaData.statewise[0].deltarecovered %></h6>
                    </div>
                  </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col col-md-4 col-sm-4">
              <div class="card lastUpdated" style="width:auto; height: max-content;">
                <div class="card-body">
                  <h5 class="card-title">Last Updated</h5>

                  <h4 class="card-text"><%= indiaData.statewise[0].lastupdatedtime %> IST</h4>
                  
                </div>
              </div>
            </div>

            <div class="col col-md-4 col-sm-4">
              <div class="card lastUpdated" style="width:auto; ">
                  <div class="card-body">
                    <h5 class="card-title">Active cases</h5>

                    <h4 class="card-text"><%= indiaData.statewise[0].active %></h4>
                    
                  </div>
                </div>
            </div>

            <div class="col col-md-4 col-sm-4">
              <div class="card lastUpdated" style="width:auto; height: max-content;">
                  <div class="card-body">
                    <h5 class="card-title">Central Helpline Number: </h5>
  
                    <h4 class="card-text">+91-11-23978046</h4>
                    
                  </div>
                </div>
              </div>
        
        </div>
        <div class="row">
            
            <div class="col table-responsive table-wrapper">
                <table class="table" id="cases"/>
                    <thead class="tableHead sticky-top">
                      <input type="text" id="search" placeholder="Search State" style="margin-bottom: 10px" class="form-control-sm"></input>
                    <tr>
                        <th>State</th>
                        <th data-sort-default>Confirmed</th>
                        <th>New Confirmed</th>
                        <th>Deaths</th>
                        <th>New Deaths</th>
                        <th>Recovered</th>
                        <th>New Recovered</th>
                        <th>Active</th>
            
                    </tr>
                    </thead>
                

                    <tbody>
                      <% for(let i=1; i < indiaData.statewise.length; i++) { %>
                    <tr>
                        
                        <td><%= indiaData.statewise[i].state %></td>
                        <td class="totalFormat"><%= indiaData.statewise[i].confirmed %></td>
                        <td class="newFormat"> <%= indiaData.statewise[i].deltaconfirmed %></td>
                        <td class="totalFormat"><%= indiaData.statewise[i].deaths %></td>
                        <td class="newFormat"> <%= indiaData.statewise[i].deltadeaths %></td>
                        <td class="totalFormat"><%= indiaData.statewise[i].recovered %></td>
                        <td class="newFormat"> <%= indiaData.statewise[i].deltarecovered %></td>
                        <td class="totalFormat"><%= indiaData.statewise[i].active %></td>
                
            
                    </tr>
                    <% } %>
                    </tbody>
            
                </table>
            </div>
        </div>
        <div class="row">
        <div class="col table-responsive table-wrapper">
            <table class="table" id="helpline"/>
                <thead class="tableHead">
                <tr>
                    <th>State</th>
                    <th>Helpline Number</th>
        
                </tr>
                </thead>
            

                <tbody>
                    <% for(let i=0; i < helplineData.data.contacts.regional.length; i++) { %>
                  <tr>
                      
                      <td><%= helplineData.data.contacts.regional[i].loc %></td>
                      <td class="newFormat"><%= helplineData.data.contacts.regional[i].number %></td>
              
          
                  </tr>
                    <% } %>
                </tbody>
    
            </table>
        </div>
      </div>

      <p>This data is verified and crowdsourced from different trusted sources, so this data might be different from what available on home page as it is unofficial.</p>
      <p>For official data, click <a href="/india-official" class="last-links">here</a></p>
    </div>
     
     <script>
        new Tablesort(document.getElementById('cases'), {
  descending: true
});

$("#search").keyup(function () {
    let value = this.value.toLowerCase().trim();

    $("table tr").each(function (index) {
        if (!index) return;
        $(this).find("td").each(function () {
            let id = $(this).text().toLowerCase().trim();
            let not_found = (id.indexOf(value) == -1);
            $(this).closest('tr').toggle(!not_found);
            return not_found;
        });
    });
});
     </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     
        
</body>
</html>