<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ncovid-19 live Coronavirus tracker</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="indiaStyle.css"> 
  
  <!--Script-->
  <script src='tablesort.min.js'></script>
    <!--  Sort types  -->
    <script src='tablesort.number.min.js'></script>
   <link rel="shortcut icon" href="/covid.png" type="image/x-icon"> 

   <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101866603-5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-101866603-5');
        </script>

</head>
<body>

    <div class="content container-fluid">

      <%- include ('./navbar/nav') %>

      <h1>Stats and details for India</h1>

        <div class="row">
            
            <div class="col col-md-6">
                <table class="table" id="cases"/>
                    <thead class="tableHead">
                    <tr>
                        <th>State</th>
                        <th data-sort-default>Confirmed</th>
                        <th>Death</th>
                        <th>Recovered</th>
                        <th>Active</th>
            
                    </tr>
                    </thead>
                

                    <tbody>
                      <% for(let i=0; i < indiaData.data.statewise.length; i++) { %>
                    <tr>
                        
                        <td><%= indiaData.data.statewise[i].state %></td>
                        <td class="newFormat"><%= indiaData.data.statewise[i].confirmed %></td>
                        <td class="totalFormat"><%= indiaData.data.statewise[i].deaths %></td>
                        <td class="newFormat"><%= indiaData.data.statewise[i].recovered %></td>
                        <td class="totalFormat"><%= indiaData.data.statewise[i].active %></td>
                
            
                    </tr>
                    <% } %>
                    </tbody>
            
                </table>
            </div>

        <div class="col">
            <table class="table" id="cases"/>
                <thead class="tableHead">
                <tr>
                    <th data-sort-default="">State</th>
                    <th>Helpline Number</th>
        
                </tr>
                </thead>
            

                <tbody>
                    <% for(let i=0; i < helplineData.data.contacts.regional.length; i++) { %>
                  <tr>
                      
                      <td><%= helplineData.data.contacts.regional[i].loc %></td>
                      <td class="newFormat"><%= helplineData.data.contacts.regional[i].number %></td>
              
          
                  </tr>
                    <% } %>
                </tbody>
    
            </table>
        </div>
      </div>

      Data for India here might be different from that on the home page as this data is crowdsourced from different trusted sources and gets updated faster too.
    </div>
     
     <script>
        new Tablesort(document.getElementById('cases'), {
            descending: true
        });

     </script>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>
</html>